.btn{
    color:wheat;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}
.btnUnderline{
    color:wheat;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}